body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 1.5rem;
    width: min(90vw, 1200px);
    background-color: #EEE;
    color: #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    margin: 0;
}

#buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

#add-book, #clear-books {
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
    border: none;
    color: white;
    transition: background-color .05s;
}

#add-book:hover, #clear-books:hover {
    cursor: pointer;
}

#add-book {
    background-color: #71717A;
}

#add-book:hover {
    background-color: #A1A1AA;
}

#add-book:active {
    background-color: #52525B;
}

#clear-books {
    background-color: #DC2626;
}

#clear-books:hover {
    background-color: #EF4444;
}

#clear-books:active {
    background-color: #B91C1C;
}

#add-book-modal {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    place-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#add-book-modal.visible {
    display: grid;
}

#modal-content {
    box-sizing: border-box;
    width: min(90%, 350px);
    padding: 2rem;
    border-radius: .5rem;
    background-color: #EEE;
}

#modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#modal-header h2 {
    margin: 0;
}

#modal-close {
    font-size: 1.2rem;
}

#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#modal-form {
    display: flex;
    flex-direction: column;
}

#modal-form label {
    margin-bottom: .3rem;
}

#modal-form input{
    margin-bottom: .7rem;
    padding: .3rem .5rem;
    border-radius: .3rem;
    border: 1px solid rgb(170, 170, 170);
}

#modal-form input:focus{
    border: 1px solid blue;
    outline: none;
}

#modal-form button {
    width: 5rem;
    height: 2rem;
    align-self: center;
} 

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(223, 223, 223);
}

.book-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.book h3 {
    margin: 0;
}

.book h3::before {
    content: '📘 ';
}

.book p {
    margin: 0;
}

.book-remove {
    font-size: 1.2rem;
}

.book-remove:hover,
.book-remove:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}